* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#snippets-body {
    position: relative;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    min-width: 850px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}
.snippets {
    width: 100%;
    padding: 120px 80px;
}
.snippets-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 38px;
}
.snippets-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.snippets-title > h1 {
    color: #6B7280;
    font-size: 40px;
}
.snippets-title > img {
    width: 45px;
    height: 45px;
    margin-bottom: 1px;
}
.snippets-description {
    color: #6B7280;
    font-size: 19px;
    font-style: italic;
}
.snippets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
/* ----------------- TABLE ----------------- */
.table {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    width: 100%;
    min-width: 750px;
    margin-bottom: 1.6rem;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
    border-radius: 8px;
}
.header-row {
    position: relative;
    display: flex;
    overflow: visible;
}
.header-row .cell {
    background-color: #6B728020;
}
.header-row:first-child .cell:first-of-type {
    border-top-left-radius: 8px;
}
.header-row:first-child .cell:last-of-type {
    border-top-right-radius: 8px;
}
.snippet-row {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ddd;
    overflow: visible;
}
.header-row:last-child .cell:first-of-type,
.snippet-row:last-child .cell:first-of-type {
    border-bottom-left-radius: 8px;
}
.header-row:last-child .cell:last-of-type,
.snippet-row:last-child .cell:last-of-type {
    border-bottom-right-radius: 8px;
}
.snippet-row:nth-of-type(2) {
    border-top: 1px solid #ddd;
}
.snippet-row:last-of-type {
    border-bottom: none;
}
.cell {
    position: relative;
    padding: 10px 8px;
    text-align: left;
    background-color: white;
}
.cell:first-of-type {
    width: 32.5%;
    max-width: 32.5%;
    border-right: 1px solid #ddd;
}
.cell:last-of-type {
    width: 67.5%;
    max-width: 67.5%;
}
.deleted-cell {
    background-color: rgb(255, 235, 235);
}
.changed-cell {
    background-color: rgb(236, 248, 236);
}
.table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1px 0 2px;
    gap: 5px;
}
.table-header > span:first-of-type {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 600;
}
.table-header > span:last-of-type {
    color: #999;
    font-size: 15px;
    font-weight: 400;
}
.auto-grow {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    padding: 4px 8px;
    width: 100%;
    min-height: 100%;
    max-height: none;
    text-align: left;
    border: none;
    outline: none;
    resize: none;
    overflow-wrap: break-word;
    overflow-y: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.delete-icon {
    position: absolute;
    display: none;
    top: 50%;
    left: -33.5px;
    height: 22px;
    width: 22px;
    animation: jiggle .5s linear infinite;
    transition: all .2s ease-in-out;
    cursor: pointer;
    z-index: 10;
}
.delete-icon:hover {
    animation: jiggle-stop .125s linear forwards;
}
.delete-icon:active {
    animation: jiggle-active .1s linear forwards;
}
/* ----------------- BUTTONS ----------------- */
.button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1px;
    max-width: 1050px;
    width: 100%;
    min-width: 750px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.edit-button,
.save-button,
.add-new-button {
    border: none;
    color: white;
    padding: 9px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16.5px;
    font-weight: 500;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
    z-index: 10;
    cursor: pointer;
}
.add-new-button {
    background-color: #6B7280;
}
.add-new-button:hover {
    background-color: #6B7280ee;
}
.add-new-button > span {
    position: relative;
    font-size: 21px;
    font-weight: 500;
    line-height: .5;
    top: 2px;
    left: 2px;
}
.edit-button {
    background-color: #EF4444;
    margin-right: 10px;
}
.edit-button:hover {
    background-color: #EF4444ee;
}
.save-button {
    background-color: #4CAF50;
}
.save-button:hover {
    background-color: #4CAF50ee;
}
.close-snippets-button {
    position: absolute;
    top: 35px;
    right: 38px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.close-snippets-button > img {
    width: 27.5px;
    height: 27.5px;
    transition: all .2s ease-in-out;
}
.close-snippets-button > img:hover {
    transform: rotate(-90deg);
}
.edit-button:disabled,
.save-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
/* ----------------- NOTIFICATIONS ----------------- */
.success-message,
.error-message {
    display: none;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 0 12.5px;
    border-radius: 5px;
    gap: 8.5px;
    margin-right: 17.5px;
}
.success-message {
    background-color: #f0fff0;
    border: 1px solid #8ccb8e;
    animation: successSlide 1.8s cubic-bezier(.36, .07, .19, .97);
}
.error-message {
    background-color: #fffce3;
    border: 1px solid #f2cc41;
    animation: errorShake 0.82s cubic-bezier(.36, .07, .19, .97);
}
.success-icon,
.error-icon {
    height: 19px;
    width: 19px;
    padding-bottom: .5px;
}
.success-description,
.error-description {
    font-size: 15px;
    font-weight: 400;
}
.success-description {
    color: #4CAF50;
}
.error-description {
    color: #e9c544;
}
/* ----------------- ANIMATIONS ----------------- */
@keyframes jiggle {
    0% {
        transform: translateY(-50%) rotate(-4deg) scale(1.025);
    }
    25% {
        transform: translateY(-50%) rotate(4deg) scale(1.025);
    }
    50% {
        transform: translateY(-50%) rotate(-4deg) scale(1);
    }
    75% {
        transform: translateY(-50%) rotate(4deg) scale(1);
    }
    100% {
        transform: translateY(-50%) rotate(-4deg) scale(1.025);
    }
}
@keyframes jiggle-stop {
    0% {
        transform: translateY(-50%) rotate(0deg) scale(1);
    }
    100% {
        transform: translateY(-50%) rotate(0deg) scale(1.1);
    }
}
@keyframes jiggle-active {
    0% {
        transform: translateY(-50%) rotate(0deg) scale(1.1);
    }
    100% {
        transform: translateY(-50%) rotate(0deg) scale(.975);
    }
}
@keyframes successSlide {
    0% {
        transform: translate3d(80px, 0, 0);
        opacity: 0;
    }
    25% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    75% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translate3d(-110px, 0, 0);
        opacity: 0;
    }
}
@keyframes errorShake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        transform: translate3d(1.5px, 0, 0)
    }
    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0)
    }
    40%,
    60% {
        transform: translate3d(3px, 0, 0)
    }
}