:root {
    --color-primary: #6b7488;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 10px;
    width: 290px;
    font-family: Arial, sans-serif;
    background-color: #fdfdff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 19px 4px 18px 0px;
    gap: 10px;
    text-decoration: none;
}

.header > h1 {
    font-size: 20.5px;
    color: #5e6572;
}

.header > img {
    width: 30px;
    height: 30px;
}

.menu-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px 8px 24px;
}

.feedback-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.feedback-title {
    color: #292929;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1px;
}

.feedback {
    color: #444;
    font-size: 14px;
    line-height: 1.2;
    font-style: italic;
}

#feedback-email {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 13.5px;
}

#feedback-email:hover {
    text-decoration: underline;
}

.shortcuts-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
}

.shortcuts-title {
    color: #292929;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.shortcuts {
    font-size: 14px;
    line-height: 1.2;
}

#command {
    font-size: 15px;
    font-weight: 700;
    color: var(--color-primary);
}

.manage-snippets {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 2.5px;
    cursor: pointer;
}

.manage-snippets:hover {
    opacity: 0.9;
}

.commands-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
}

.commands-title {
    color: #292929;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.command {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.command-description {
    color: #6c6c7d;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 20px;
}

.command-input {
    height: 26px;
    width: 136px;
    color: #6c6c7d;
    background-color: #6c6c7d10;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 6px;
    outline: none;
}

.command-input::placeholder {
    color: #bbb;
    font-size: 13px;
}

.options-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-top: 16px;
}

.options-title {
    color: #292929;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.option-description {
    color: #6c6c7d;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-top: 1px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:disabled + .slider {
    cursor: not-allowed;
    opacity: 0.5;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
}

.smooth-transition:before {
    transition: 0.2s;
}

input:checked + .slider {
    background-color: var(--color-primary);
}

input:checked + .slider:before {
    transform: translateX(22.5px);
}

.slider.round {
    border-radius: 18.5px;
}

.slider.round:before {
    border-radius: 50%;
}

.volume-option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1px;
}

#onOffAudioVolume {
    top: 2px;
    left: 62.5px;
    width: 192px;
}

#onOffAudioVolume {
    top: 6.5px;
    left: 62.5px;
    width: 192px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px .5px, rgb(209, 213, 219) 0px 0px 0px .5px inset;
    background-image: linear-gradient(to right, var(--color-primary) 50%, #ddd 50%);
    outline: none;
    height: 10px;
    border-radius: 8px;
}

#onOffAudioVolume::before {
    display: none;
}

#onOffAudioVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19.5px;
    height: 19.5px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px .5px, rgb(209, 213, 219) 0px 0px 0px .5px inset;
    border-radius: 50%;
    cursor: pointer;
}