* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 10px;
    width: 290px;
    font-family: Arial, sans-serif;
    background-color: #fdfdff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 19px 4px 18px 0px;
    gap: 10px;
}

.header>h1 {
    font-size: 20.5px;
    color: #444;
}

.header>img {
    width: 30px;
    height: 30px;
}

.menu-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px 8px 24px;
}

.shortcuts-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.shortcuts-title {
    color: #111;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.shortcuts {
    font-size: 14px;
    line-height: 1.2;
}

#command {
    font-size: 15px;
    font-weight: 700;
    color: #27a532;
}

.options-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-top: 16px;
}

.options-title {
    color: #111;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.option-description {
    color: #6c6c7d;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-top: 1px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
}

.smooth-transition:before {
    transition: 0.2s;
}

input:checked+.slider {
    background-color: #27a532;
}

input:checked+.slider:before {
    transform: translateX(22.5px);
}

.slider.round {
    border-radius: 18.5px;
}

.slider.round:before {
    border-radius: 50%;
}

.volume-option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#onOffAudioVolume {
    top: 2px;
    left: 62.5px;
    width: 192px;
}

#onOffAudioVolume {
    top: 3px;
    left: 62.5px;
    width: 192px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px .5px, rgb(209, 213, 219) 0px 0px 0px .5px inset;
    background-image: linear-gradient(to right, #27a532dd 50%, #ddd 50%);
    outline: none;
    height: 14px;
    border-radius: 8px;
}

#onOffAudioVolume::before {
    display: none;
}

#onOffAudioVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px .5px, rgb(209, 213, 219) 0px 0px 0px .5px inset;
    border-radius: 50%;
    cursor: pointer;
}